SECRET_KEY=
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=2525
EMAIL_FROM_ADDRESS=test@test.com
DB_NAME=lunna_tech
DB_USER=root
DB_USER_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306
DEBUG=True